<a href="https://colab.research.google.com/github/FabiBarbos/Churn/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importando as bibliotecas
import pandas as pd # Para utilização de dataframe
import matplotlib.pyplot as plt # Para gerar os gráficos
import seaborn as sns # Para gerar gráficos
import datetime as dt # Para facilitar a manipulação de dados com datas
import numpy as np

pd.options.mode.chained_assignment = None

In [3]:
# Importando os dados do dataset 
df = pd.read_excel("segmentacao.xlsx")

In [4]:
# Analisando os primeiros dados do dataset
df.head()

   order_id  quantity   Venda          Empresa_que_compra data_compra
0     11077         4  31.000  Rattlesnake Canyon Grocery  1998-05-06
1     11077         3  35.280  Rattlesnake Canyon Grocery  1998-05-06
2     11077         2  29.700  Rattlesnake Canyon Grocery  1998-05-06
3     11077         2  64.505  Rattlesnake Canyon Grocery  1998-05-06
4     11077         2  33.853  Rattlesnake Canyon Grocery  1998-05-06

In [5]:
# Verificando a existência de dados em branco ou nulos
print( df.isnull().any() )

order_id              False
quantity              False
Venda                 False
Empresa_que_compra    False
data_compra           False
dtype: bool

In [6]:
# Quantificando quantos registros em branco existem em cada dimensão
print (df.isnull().sum())

order_id              0
quantity              0
Venda                 0
Empresa_que_compra    0
data_compra           0
dtype: int64

**RFM (Recency, Frequency, Monetary)**

  

*   **Recency**: calcula o número de dias entre o dia base (última compra + 1) e a última compra por cada empresa.
*   **Frequency**: calcula o número de compras realizadas por cada empresa.
*   **Monetary**: calcula o valor total pago por cada empresa.